[Desktop Entry]
Version=1.0
Type=Application
Name=Velotype
GenericName=Markdown Editor
Comment=Native Markdown editor built with Rust and GPUI
Exec=velotype %F
TryExec=velotype
Icon=com.manyougz.Velotype
Terminal=false
Categories=Office;TextEditor;Utility;
Keywords=markdown;editor;text;notes;writing;wysiwyg;
MimeType=text/markdown;text/x-markdown;
StartupNotify=true
StartupWMClass=com.manyougz.Velotype
DBusActivatable=false
